.login-container {
    mat-card {
        width: fit-content;
        height: fit-content;
        padding: 1rem 3rem;

        mat-card-header {
            justify-content: center;
            text-transform: uppercase;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 12rem;

            mat-form-field {
                display: block;
            }
        }

        mat-divider {
          margin-bottom: 0.5rem;
        }

        mat-card-actions {
            justify-content: center;
        }
    }
}
